# Large data files
*.h5
*.h5ad
*.loom
*.bam
*.bai
*.fastq.gz
*.png
*.out

# data
gex_filtered/
atac_filtered/
*_EA/

# plots
plots/

# Jupyter
.ipynb_checkpoints/
run_jupyter.out
run_jupyter.slurm

# Snakemake
.snakemake/

# Python cache
__pycache__/
*.pyc

# R session
.RData
.Rhistory
```

You probably also want to make sure your `reference/` folder (where you just copied those notebooks) isn't tracked if you don't want Yingying's scripts in your repo history:
```
reference/